<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer> 
        <rewrite>
            <rules>
<rule name="rule 1K" stopProcessing="true">
	<match url="^([a-z]=.*)"  />
	<action type="Rewrite" url="/index.php?{R:1}"  />
</rule>
            </rules>
        </rewrite> 
    </system.webServer>
</configuration>
