/*
    
*/

/*******************************************************************************
   For planshet overflow: scroll
*******************************************************************************/
/* text styles */
.headerH2Style {
  font-size: 36px;
  font-weight: 400;
  color: #333333;
  line-height: 1.2em;
  text-align: left;
  font-family: "Open Sans", sans-serif, Arial;
}
.onscrolling {
  position: fixed;
  top: 0;
}
.navitem_solutions_menu {
  left: 0;
}
nav {
  height: 71px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
nav .pushy-content {
  margin: 0 auto;
  max-width: 768px;
  width: 45vw;
}
nav > div {
  visibility: inherit;
}
nav > div > ul,
nav > div > ul > li {
  display: inline-block;
  list-style-type: none;
}
nav > div > ul {
  margin: 0;
  padding: 16px 0 0;
  width: auto;
  height: 54px;
  display: inline-block;
}

nav > div > ul > li {
  padding: 0;
  margin: 0;
  height: 55px;
}
nav > div > ul,
nav > div > ul > li {
  display: inline-block;
  list-style-type: none;
  height: 100%;
  position: relative;
}
nav > div > ul > li > a {
  padding: 21px 5px;
  display: inline-block;
  height: 29px;
  text-transform: uppercase;
  border-bottom-color: #f94a0c;
}
nav > div > ul > li > a.fr_FR {
  padding-left: 7px;
  padding-right: 7px;
}
nav > div > ul a.singin {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0px 15px 0;
  padding: 13px 25px;
  height: auto;
}
nav > div > ul a.singin:hover {
  color: #f94a0c;
}
nav > div > ul.all-menu-items {
  box-sizing: border-box;
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-columns: auto 32px auto 32px auto 32px auto 32px auto 32px auto;
  width: 100%;
}
nav .nav-down-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #999999 transparent transparent transparent;
  display: inline-block;
  margin: 0 0 4px 6px;
}
.menuitem {
  white-space: nowrap;
}
#navitem_features,
#navitem_download,
#navitem_partners,
#navitem_solutions,
#navitem_blockchain,
#navitem_prices,
#navitem_integrations a.singin {
  color: #444444;
  text-decoration: none;
  font-size: 12px;
  line-height: 29px;
  font-weight: 600;
  vertical-align: middle;
  letter-spacing: 0.08em;
}
#navitem_about_menu .dropdown-content,
#navitem_download_menu .dropdown-content,
#navitem_partnership_menu .dropdown-content,
#navitem_prices_menu .dropdown-content,
#navitem_solutions_menu .dropdown-content,
#navitem_features_menu .dropdown-content,
#navitem_integrations_menu .dropdown-content {
  list-style-type: none;
  margin: 0;
  display: block;
  min-width: 200px;
  background: #fff;
}

#navitem_about_menu .dropdown-content li,
#navitem_download_menu .dropdown-content li,
#navitem_partnership_menu .dropdown-content li,
#navitem_prices_menu .dropdown-content li,
#navitem_solutions_menu .dropdown-content li,
#navitem_features_menu .dropdown-content li,
#navitem_integrations_menu .dropdown-content li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a.dropdown-item {
  display: block;
  background: none;
  border: 0;
  color: #444444;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  line-height: 36px;
  margin: 0;
  padding: 0 32px;
  text-decoration: none;
  white-space: nowrap;
}
a.dropdown-item:hover {
  color: #ff642e;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a[href=""].dropdown-item:hover,
a:not([href]).dropdown-item:hover {
  color: initial;
}
a.dropdown-item#navitem_download_signin {
  display: inline-block;
  padding-right: 4px;
}
a.dropdown-item#navitem_download_signup {
  display: inline-block;
  padding-left: 4px;
}
#navitem_about,
#navitem_download,
#navitem_partners,
#navitem_solutions,
#navitem_features,
#navitem_prices,
#navitem_integrations,
a.singin {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  font-family: "Open Sans", sans-serif, Arial;
  font-weight: 600;
  vertical-align: middle;
  display: inline-flex;
  align-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  height: 100%;
  box-sizing: border-box;
}
#navitem_about:hover,
#navitem_download:hover,
#navitem_partners:hover,
#navitem_solutions:hover,
#navitem_features:hover,
#navitem_prices:hover,
#navitem_integrations:hover a.singin:hover {
  cursor: pointer;
}
#navitem_about.active,
#navitem_download.active,
#navitem_partners.active,
#navitem_solutions.active,
#navitem_features.active,
#navitem_prices.active,
#navitem_integrations.active,
a.singin.active {
  color: #f94a0c;
}
#navitem_about.active:hover,
#navitem_download.active:hover,
#navitem_partners.active:hover,
#navitem_solutions.active:hover,
#navitem_features.active:hover,
#navitem_prices.active:hover,
#navitem_integrations.active:hover,
a.singin.active:hover {
}

.third-level-content {
  display: none;
  position: absolute;
  right: -200px;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 15px 0;
  width: 200px;
  background: #eaeaea;
  height: auto;
}
.third-level-content li {
  display: block;
  margin: 0;
  padding: 0;
}

.latestReleasesBox {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}
.latestReleasesBox:before {
  width: 95%;
  height: 0;
  margin: 0 auto;
  border-top: 1px solid #efefef;
  display: block;
  content: "";
}

.latestReleasesBox a {
  display: block;
  background: none;
  border: 0;
  color: #ff642e;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  line-height: 36px;
  margin: 0;
  padding: 0 25px;
  text-decoration: none;
  white-space: nowrap;
}

.latestReleasesBox a:hover {
  background-color: #f7f7f7;
}

.third-level-content li a {
  display: block;
  background: none;
  border: 0;
  color: #333;
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  line-height: 36px;
  margin: 0;
  padding: 0 25px;
  text-decoration: none;
  white-space: nowrap;
}
.third-level-content li a:hover {
  background-color: #dcdcdc;
}
a#banners {
  display: none;
}
#nonprofitpage a#banners,
.banners a#banners {
  display: block;
}
.nav_free_for_np {
  position: absolute;
  right: -190px;
  top: 0;
  background-color: #eaeaea;
  width: 120px;
  height: 104px;
  text-align: center;
  margin: 0;
  padding: 35px;
  text-transform: none;
  font-size: 15px;
  line-height: 1.3em;
}
.nav_free_for_np .top_free_button {
  display: inline-block;
  background-color: #f94a0c;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 35px;
  margin: 10px auto 7px;
  text-decoration: none;
}
/*NEW MENU*/
.navitem_description {
  color: #999;
  font-size: 13px;
  line-height: 1.4em;
  text-transform: none;
  padding: 0 25px 20px;
  text-align: left;
}
ul.navitem_2nd_menu {
  padding: 0 0 10px;
  margin: 0;
}
ul.navitem_2nd_menu li a.nav_2nd_menu_link {
  display: block;
  text-transform: none;
  background: none;
  border: 0;
  color: #444;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.6em;
  margin: 0;
  padding: 4px 32px 4px 48px;
  text-decoration: none;
}
ul.navitem_2nd_menu li a.nav_2nd_menu_link:hover,
ul.navitem_2nd_menu li a.nav_2nd_menu_link.redirect {
  color: #ff642e;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
ul.navitem_2nd_menu li a.nav_2nd_menu_link#navitem_solutions_signin {
  color: #444;
}
ul.navitem_2nd_menu li a.nav_2nd_menu_link.signIn {
  color: #ff642e;
}
#navitem_blockchain {
  color: #ff642e;
}
.langselector {
  display: inline-block;
  text-transform: none;
  margin: auto 0;
  position: relative;
}
div.custom-select {
  background: none;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 12px;
  font-weight: 400;
  position: relative;
  cursor: default;
  color: #666;
  z-index: 150;
}
div.custom-select div.selector {
  width: 20px;
  height: 20px;
  display: block;
  right: -20px;
  top: 0;
  z-index: 0;
  cursor: pointer;
}
.accented {
  color: #ff642e;
}

#latest_release_date {
  color: #808080;
  font-size: 13px;
  line-height: 1.6em;
  padding-bottom: 10px;
}

#security_header {
  min-width: 180px;
}
.menu_pic_div {
  cursor: pointer;
  margin: 16px 32px 0;
}

.menu_pic_div .menu_pic_img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 88px;
  margin-bottom: 16px;
  width: 180px;
}

.menu_pic_div .menu_pic_header {
  color: #444444;
  font-size: 14px;
  line-height: 1.6em;
  min-width: 192px;
}
.menu_pic_header:hover {
  color: #ff6f3d;
}

#customer_stories_img {
  background-image: url("../images/img_for_header/vegan_in_leipzig_onlyoffice.jpg");
}

#security_img {
  background-image: url("../images/img_for_header/menu_security.svg");
}

#reseller_img {
  background-image: url("../images/img_for_header/menu_reseller.svg");
}
#compare_img {
  background-image: url("../images/img_for_header/menu_compare_edition.svg");
}

#for_developers_img {
  background-image: url("../images/img_for_header/menu_for_developers.png");
}
#latest_events_img{
  background-image: url("../images/img_for_header/onlyoffice_linux_foundation.svg")
}

@media screen and (min-width: 1024px) {
  #navitem_features_menu .dropdown-content,
  #navitem_about_menu .dropdown-content,
  #navitem_download_menu .dropdown-content,
  #navitem_partnership_menu .dropdown-content,
  #navitem_prices_menu .dropdown-content,
  #navitem_solutions_menu .dropdown-content,
  #navitem_integrations_menu .dropdown-content {
    list-style-type: none;
    margin: 0;
    display: block;
    min-width: 190px;
    background: #fff;
    text-align: left;
  }
  #navitem_solutions_menu .dropdown-content > li {
    display: table-cell;
    width: 25%;
  }
  #navitem_solutions_saas_mobile,
  #navitem_solutions_server_enterprice_mobile,
  #navitem_solutions_connectors_mobile,
  #navitem_solutions_integration_mobile,
  #navitem_solutions_apps_comparison_overview {
    display: none;
  }
  #navitem_features_menu:before,
  #navitem_about_menu:before,
  #navitem_download_menu:before,
  #navitem_partnership_menu:before,
  #navitem_prices_menu:before,
  #navitem_solutions_menu:before,
  #navitem_integrations_menu:before {
    display: block;
    position: absolute;
    width: 0;
    content: "";
    height: 1px;
    background-color: #ff642e;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    left: 50%;
    top: 0;
  }
  #navitem_features_menu:after,
  #navitem_about_menu:after,
  #navitem_download_menu:after,
  #navitem_partnership_menu:after,
  #navitem_prices_menu:after,
  #navitem_solutions_menu:after,
  #navitem_integrations_menu:after {
    display: block;
    position: absolute;
    width: 0;
    content: "";
    height: 1px;
    background-color: #ff642e;
    transition: width 0.2s ease-in-out;
    left: 50%;
    top: 0;
  }
  #navitem_about_menu.top_border:before,
  #navitem_download_menu.top_border:before,
  #navitem_partnership_menu.top_border:before,
  #navitem_prices_menu.top_border:before,
  #navitem_solutions_menu.top_border:before,
  #navitem_features_menu.top_border:before,
  #navitem_integrations_menu.top_border:before {
    width: 50%;
    left: 0;
  }
  #navitem_about_menu.top_border:after,
  #navitem_download_menu.top_border:after,
  #navitem_partnership_menu.top_border:after,
  #navitem_prices_menu.top_border:after,
  #navitem_solutions_menu.top_border:after,
  #navitem_features_menu.top_border:after,
  #navitem_integrations_menu.top_border:after {
    width: 50%;
  }
  #navitem_features_menu,
  #navitem_about_menu,
  #navitem_download_menu,
  #navitem_partnership_menu,
  #navitem_prices_menu,
  #navitem_solutions_menu,
  #navitem_integrations_menu {
    display: none;
    position: absolute;
    z-index: 1999;
    border: 0 none;
    top: 70px;
    box-shadow: 0px 20px 50px rgba(85, 85, 85, 0.15);
    -moz-box-shadow: 0px 20px 50px rgba(85, 85, 85, 0.15);
    -webkit-box-shadow: 0px 20px 50px rgba(85, 85, 85, 0.15);
    border-radius: 0px 0px 9px 9px;
    right: auto;
    overflow: hidden;
  }

  #navitem_download_menu .dropdown-content > li,
  #navitem_features_menu .dropdown-content > li,
  #navitem_solutions_menu .dropdown-content > li,
  #navitem_prices_menu .dropdown-content > li,
  #navitem_integrations_menu .dropdown-content > li,
  #navitem_partnership_menu .dropdown-content > li,
  #navitem_about_menu .dropdown-content > li{
    display: table-cell;
    padding: 27px 0;
  }
  #navitem_about_menu .dropdown-content > li {
    min-width: 312px;
  }
  #navitem_download_menu .dropdown-content > li:first-of-type {
    min-width: 330px;
  }
  #navitem_download_menu .dropdown-content > li:last-of-type {
    min-width: 272px;
    border-right: 0 none;
  }
  #navitem_features_menu .dropdown-content > li:first-of-type {
    min-width: 280px;
  }
  #navitem_features_menu .dropdown-content > li:nth-of-type(2) {
    min-width: 280px;
  }
  #navitem_features_menu .dropdown-content > li:last-of-type {
    min-width: 272px;
  }
  #navitem_partnership_menu .dropdown-content > li:first-of-type,
  #navitem_partnership_menu .dropdown-content > li:last-of-type{
    min-width: 312px;
  }
  #navitem_features_menu .dropdown-content > li:last-of-type,
  #navitem_prices_menu .dropdown-content > li:last-of-type,
  #navitem_solutions_menu .dropdown-content > li:last-of-type,
  #navitem_integrations_menu .dropdown-content > li:last-of-type {
    border-right: 0 none;
  }

  #navitem_integrations_menu .dropdown-content > li.li_without_border {
    border-right: 0 none;
  }

  #navitem_solutions_menu .dropdown-content > li {
    width: 25%;
  }

  #navitem_solutions_menu .dropdown-content > li:first-of-type {
    min-width: 240px;
  }

  #navitem_solutions_menu .dropdown-content > li:nth-of-type(2) {
    min-width: 236px;
  }

  #navitem_prices_menu .dropdown-content > li {
    min-width: 312px;
  }
  #navitem_prices_menu .dropdown-content > li:last-of-type{
    min-width: 272px;
  }

  #navitem_integrations_menu .dropdown-content > li:first-of-type,
  #navitem_integrations_menu .dropdown-content > li:nth-of-type(2) {
    min-width: 244px;
  }

  #navitem_integrations_menu .dropdown-content > li:last-of-type {
    max-width: 264px;
  }

  #navitem_prices_menu #navitem_prices_reseller {
    white-space: initial;
  }

  .all-menu-items > li:nth-of-type(3),
  .all-menu-items > li:nth-of-type(4),
  .all-menu-items > li:nth-of-type(5),
  .all-menu-items > li:nth-of-type(6) {
    position: relative;
  }

  .all-menu-items > li:nth-of-type(1),
  .all-menu-items > li:nth-of-type(2) {
    position: static;
  }

  ul.navitem_2nd_menu {
    padding: 16px 0 24px;
    margin: 0;
  }

  ul.navitem_2nd_menu li:first-child {
    white-space: nowrap;
  }
  ul.navitem_2nd_menu li a.nav_item_nowrap_link.second {
    padding: 0 48px 0 0px;
    white-space: nowrap;
  }

  ul.navitem_2nd_menu li a.nav_2nd_menu_link {
    display: block;
    text-transform: none;
    background: none;
    border: 0;
    color: #444444;
    font-size: 14px;
    cursor: pointer;
    line-height: 23px;
    margin-bottom: 12px;
    padding: 0 0 0 72px;
    text-decoration: none;
  }
  ul.navitem_2nd_menu li:last-child a.nav_2nd_menu_link  {
    margin-bottom: 0;
  }

  ul.navitem_2nd_menu li a.nav_2nd_menu_link:hover {
    color: #ff6f3d;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  ul.navitem_2nd_menu li a.nav_item_nowrap_link {
    display: inline-block;
    text-transform: none;
    background: none;
    border: 0;
    color: #444444;
    font-size: 14px;
    cursor: pointer;
    line-height: 23px;
    padding: 0 0 0 72px;
    margin-bottom: 12px;
    text-decoration: none;
  }

  ul.navitem_2nd_menu li a.nav_item_nowrap_link:hover {
    color: #ff6f3d;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  a.dropdown-item {
    display: block;
    border: 0;
    color: #444444;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    line-height: 24px;
    margin: 0;
    padding: 0 32px 0 68px;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
  }
  a.dropdown-item:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 32px;
    top: 0;
    background-image: url("../images/img_for_header/icons.svg");
    background-repeat: no-repeat;
  }
  #navitem_solutions_clients_apps:before {
    background-position-y: -52px;
  }
  #navitem_solutions_clients_mobile_ios:before {
    background-position-y: -78px;
  }
  #navitem_solutions_clients_mobile_android:before {
    background-position-y: -104px;
  }
  #navitem_features_workspace:before {
    background-position-y: -25px;
  }
  #navitem_link_personal:before{
    background-position-y: -572px;
  }
  #navitem_download_desktop:before{
    background-position-y: -156px;
  }
  #navitem_download_products:before{
    background-position-y: -130px;
  }
  #navitem_hosters:before{
    background-position-y: -182px;
  }
  #navitem_resellers:before{
    background-position-y: -208px;
  }
  #navitem_find_partners:before{
    background-position-y: -234px;
  }
  #navitem_submit_request:before{
    background-position-y: -260px;
  }
  #navitem_about_about:before{
    background-position-y: -286px;
  }
  #navitem_about_contribute:before{
    background-position-y: -338px;
  }
  #navitem_about_customers:before{
    background-position-y: -364px;
  }
  #navitem_about_awards:before{
    background-position-y: -390px;
  }
  #navitem_about_events:before{
    background-position-y: -468px;
  }
  #navitem_about_giftshop:before{
    background-position-y: -520px;
  }
  #navitem_about_contacts:before{
    background-position-y: -546px;
  }
  #navitem_about_blog:before{
    background-position-y: -312px;
  }
  #navitem_about_pressdownloads:before{
    background-position-y: -416px;
  }
  #navitem_about_helpcenter:before{
    background-position-y: -625px;
  }
  #navitem_about_whitepapers:before{
    background-position-y: -442px;
  }
  #navitem_about_webinars:before{
    background-position-y: -598px;
  }
  #navitem_about_training_courses:before{
    background-position-y: -494px;
  }
  #navitem_features_docs_editions,
  #navitem_solutions_clients_workspace,
  #navitem_prices_docs,
  #navitem_prices_workspace,
  #navitem_download_docs,
  #navitem_download_workspace,
  #navitem_about_resources {
    background-color: #f5f5f5;
    padding-left: 12px;
    margin: 0 32px;
    color: #666666;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 32px;
    letter-spacing: 0.04em;
  }
  #navitem_features_docs_editions:before,
  #navitem_solutions_clients_workspace:before,
  #navitem_prices_docs:before,
  #navitem_prices_workspace:before,
  #navitem_download_docs:before,
  #navitem_download_workspace:before,
  #navitem_features_security:before,
  #navitem_integrations_menu a.dropdown-item:before,
  #navitem_prices_menu a.dropdown-item:before,
  #navitem_compare_third_level_menu a.dropdown-item:before,
  #navitem_latest_events_third_level_menu a.dropdown-item:before,
  #navitem_about_resources:before{
    content: none;
  }
  #navitem_solutions_clients_apps,
  #navitem_solutions_clients_mobile_ios,
  #navitem_link_personal,
  #navitem_download_desktop,
  #navitem_partnership_menu a.dropdown-item,
  #navitem_about_menu a.dropdown-item{
    margin-bottom: 24px;
  }
  #navitem_features_menu .dropdown-content > li:last-of-type,
  #navitem_integrations_menu .dropdown-content > li:last-of-type,
  #navitem_prices_menu .dropdown-content > li:last-of-type,
  #navitem_download_menu .dropdown-content > li:last-of-type,
  #navitem_partnership_menu .dropdown-content > li:last-of-type{
    background: #f9f9f9;
  }
  #navitem_features_security {
    padding: 0 32px;
  }
  #navitem_security_third_level_menu a.dropdown-item,
  #navitem_integrations_menu a.dropdown-item,
  #navitem_reseller_third_level_menu a.dropdown-item,
  #navitem_compare_third_level_menu a.dropdown-item,
  #navitem_latest_events_third_level_menu a.dropdown-item{
    padding: 0 32px;
    margin-bottom: 24px;
  }
  #navitem_integrations_menu a.dropdown-item:last-child,
  #navitem_about_menu a.dropdown-item:last-child {
    margin-bottom: 0;
  }
  #navitem_features_menu .dropdown-content > li:first-of-type:before,
  #navitem_about_menu .dropdown-content > li:first-of-type:before{
    content: "";
    display: block;
    height: 410px;
    width: 1px;
    background-color: #ebebeb;
    position: absolute;
    top: 27px;
    left: 295px;
  }
  #navitem_about_menu .dropdown-content > li:first-of-type:before{
    left: 312px;
    height: 322px;
  }
  #navitem_features_menu {
    left: calc(50% - 480px);
  }
  #navitem_integrations_menu {
    left: calc(50% - 480px);
  }
  #navitem_prices_menu {
    left: calc(50% - 310px);
  }
  #navitem_about_menu{
    left: calc(50% - 510px);
  }
  #navitem_download_menu{
    left: calc(50% - 400px);
  }
  #navitem_partnership_menu{
    left: calc(50% - 500px);
  }
}

@media screen and (max-width: 1024px) {
  nav > div > ul.all-menu-items {
    display: block;
    height: 100%;
    padding-top: 0;
  }
  header {
    width: 100%;
    padding: 0;
    z-index: 10000;
    height: 48px;
    align-items: center;
    top: 0;
  }
  .advent-announce.push {
    height: 48px;
    /* background-image: url(../images/top_banner/advent_calendar/trees_mobile.svg);
    background-position: 50% 0px; */
  }

  .advent-announce.push .advent-announce-text {
    padding: 0;
    font-size: 12px;
    line-height: 48px;
    white-space: normal;
    font-weight: 700;
  }
  
  .advent-announce.push .advent-announce-text:after {
    content: '';
    background-image: url(../images/top_banner/onlyoffice_7.0/mob_right.svg);
		background-position: center -18px;
		right: -90px;
		width: 64px;
    height: 48px;
  }
  .advent-announce.push .advent-announce-text:before {
    content: '';
    background-image: url(../images/top_banner/onlyoffice_7.0/mob_left.svg);
    background-position: center -18px;
		left: -85px;
		width: 63px;
    height: 48px;
  }
  .advent-announce.push .advent-announce-text b {
    color: #ffffff;
    font-weight: 700;
  }
  .advent-desktop-hide {
    display: block;
  }
  .advent-announce.push.advent-mobile-hide {
    display: none;
  }

  .phone_wrapper {
    right: auto;
    left: 0;
    bottom: 0;
    top: auto;
    position: fixed;
    width: 100%;
    height: 140px;
    background-color: white;
  }

  #navitem_about {
    border: none;
  }
  .ham_menu {
    cursor: pointer;
    display: block;
    height: 18px;
    left: 0;
    margin: 0;
    padding: 16px;
    position: absolute;
    top: 1px;
    width: 30px;
    z-index: 10000000;
  }
  .pushy,
  .push {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }

  .pushy {
    overflow: auto;
  }
  .ham_menu span {
    background-color: #666;
    display: block;
    height: 2px;
    margin: 0 0 4px;
    width: 18px;
  }
  .narrowheader .logo {
    margin-left: 60px;
    z-index: 14;
    height: 48px;
    background-size: auto 28px;
    margin: auto;
    background-position: 50%;
  }
  nav > div ul li ul {
    color: #666;
    margin: 0;
    width: auto;
  }
  nav > div > ul {
    width: 100%;
    padding-top: 0;
  }
  nav > div ul li {
    display: block;
    width: auto;
    height: auto;
    position: relative;
    font-size: 15px;
  }
  nav > div ul li a.menuitem {
    color: #666;
    display: block;
    height: auto;
    text-align: left;
    margin: 0;
  }

  ul.navitem_2nd_menu li a.nav_2nd_menu_link {
    padding: 0px 32px;
  }

  ul.navitem_2nd_menu li a.nav_2nd_menu_link,
  ul.navitem_2nd_menu li a.nav_item_nowrap_link {
    font-size: 16px;
  }

  ul.navitem_2nd_menu {
    padding: 16px 0 24px;
  }
  ul.navitem_2nd_menu li a.nav_2nd_menu_link{
    line-height: 26px;
    padding-bottom: 10px;
  }

  ul.navitem_2nd_menu li:last-child a.nav_2nd_menu_link{
    padding-bottom: 0;
  }

  ul.navitem_2nd_menu li a.nav_item_nowrap_link {
    line-height: 1.6em;
    padding: 6px 8px 6px 32px;
  }

  ul.navitem_2nd_menu li a.nav_item_nowrap_link {
    display: inline-block;
    color: #444444;
  }

  ul.navitem_2nd_menu li a.nav_item_nowrap_link.second {
    padding: 4px 48px 4px 8px;
  }

  .pushy-submenu > a,
  .pushy-submenu > button {
    position: relative;
  }
  .pushy a {
    display: block;
    text-decoration: none;
    outline: 0;
  }
  .menuitem {
    cursor: pointer;
  }
  .menuitem:before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../images/arrow-gray.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 14px;
    top: 18px;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .menuitem.active {
    text-align: center;
  }
  .menuitem.active:before {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    background-image: url(../images/arrow-red.svg);
    left: 14px;
    top: 18px;
  }
  .menuitem:hover:before {
    background-image: url(../images/arrow-red.svg);
  }

  nav a.dropdown-item {
    line-height: 21px;
    padding: 0 16px;
  }

  nav a.dropdown-item,
  nav .navitem_description,
  nav ul.navitem_2nd_menu li a.nav_2nd_menu_link {
    font-size: 16px;
  }
  #navitem_features,
  #navitem_download,
  #navitem_solutions,
  #navitem_prices,
  #navitem_partners,
  #navitem_integrations {
    border-color: #f2f2f2;
  }

  #navitem_features,
  #navitem_download,
  #navitem_partners,
  #navitem_solutions,
  #navitem_prices,
  #navitem_about,
  #navitem_integrations,
  a.singin {
    display: block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.33em;
    padding: 12px 36px 12px 18px;
    white-space: normal;
  }
  #navitem_features:hover,
  #navitem_download:hover,
  #navitem_partners:hover,
  #navitem_solutions:hover,
  #navitem_prices:hover,
  #navitem_about:hover,
  #navitem_integrations:hover,
  a.singin:hover,
  #navitem_features.active,
  #navitem_download.active,
  #navitem_partners.active,
  #navitem_solutions.active,
  #navitem_prices.active,
  #navitem_about.active,
  #navitem_integrations.active,
  a.singin.active,
  #navitem_features.active:hover,
  #navitem_download.active:hover,
  #navitem_partners.active:hover,
  #navitem_solutions.active:hover,
  #navitem_prices.active:hover,
  #navitem_about.active:hover,
  #navitem_integrations.active:hover,
  a.singin.active:hover {
    color: #ff6f3d;
    padding: 12px 36px 12px 18px;
    letter-spacing: 0.03em;
    white-space: normal;
  }
  #navitem_solutions_saas_mobile,
  #navitem_solutions_server_enterprice_mobile,
  #navitem_solutions_connectors_mobile,
  #navitem_solutions_integration_mobile {
    display: block;
  }
  .menuitem.active{
    border-bottom: 1px solid #f2f2f2;
    padding: 6px 22px 12px 22px;
  }
  a.dropdown-item#navitem_download_signup {
    padding-left: 18px;
    padding-top: 0;
  }
  nav > div ul li a.menuitem.singin {
    color: #333333 !important;
    font-weight: 600 !important;
    margin: 15px;
    padding: 15px 24px;
    display: inline-block;
    border-color: #333333 !important;
    float: none;
    margin: 0 0 0 19px;
    position: absolute;
    left: 0;
    bottom: 80px;
  }
  nav > div ul li a.menuitem.singin:before {
    display: none;
  }
  .narrowheader {
    width: 100%;
  }
  .langselector {
    position: absolute;
    right: 29px;
    top: 15px;
  }
  a.dropdown-item {
    white-space: normal;
  }
  #compare_div,
  #customer_stories_div,
  #latest_release_div,
  #reseller_div,
  #security_div,
  #for_developers_div,
  #latest_events_div,
  #navitem_about_resources {
    display: none;
  }
  #navitem_features_docs_editions,
  #navitem_solutions_clients_workspace,
  #navitem_prices_docs,
  #navitem_prices_workspace,
  #navitem_download_docs,
  #navitem_download_workspace,
  #navitem_about_resources {
    background-color: #f5f5f5;
    padding:0 0 0 8px;
    margin: 0 16px;
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 32px;
    letter-spacing: 0.04em;
  }
  .navitem_solutions a.dropdown-item,
  #navitem_integrations_menu a.dropdown-item,
  #navitem_link_personal,
  #navitem_download_desktop,
  #navitem_download_products,
  #navitem_partnership_menu a.dropdown-item,
  #navitem_about_menu a.dropdown-item{
    line-height: 21px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 592px) {
  ul.navitem_2nd_menu li a.nav_item_nowrap_link.second {
    padding: 4px 16px 4px 32px;
  }
}
