@media screen and (max-width: 1024px) {
  .pushy {
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #fff;
    overflow: auto;
    border-right: 1px solid #e5e5e5;
    -webkit-overflow-scrolling: touch;
    width: 429px;
    /* enables momentum scrolling in iOS overflow elements */
  
  }
  .pushy a {
    display: block;
    text-decoration: none;
    outline: 0;
  }
  .pushy a.call_phone{
    padding: 18px 20px 9px;
    font-weight: 400;
    line-height: 10px;
    width: calc(100% - 40px);
    background-color: #f6f6f6;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .pushy.pushy-left {
    left: 0;
    padding: 0;
    text-align: left;
    height: 100%;
  }
  .pushy.pushy-right {
    right: 0;
  }
  .pushy-content {
    visibility: hidden;
  }
  /* Menu Movement */
  .pushy-left {
    -webkit-transform: translate3d(-430px, 0, 0);
    -ms-transform: translate3d(-430px, 0, 0);
    transform: translate3d(-430px, 0, 0);
  }
  .pushy-open-left{
    overflow-x: hidden;
    min-height: -webkit-fill-available;
    min-height: 100vh;
  }
  
  .pushy-open-left .push {
    -webkit-transform: translate3d(430px, 0, 0);
    -ms-transform: translate3d(430px, 0, 0);
    transform: translate3d(430px, 0, 0);
  }
  .pushy-right {
    -webkit-transform: translate3d(430px, 0, 0);
    -ms-transform: translate3d(430px, 0, 0);
    transform: translate3d(430px, 0, 0);
  }

  .pushy-open-right .push {
    -webkit-transform: translate3d(-430px, 0, 0);
    -ms-transform: translate3d(-430px, 0, 0);
    transform: translate3d(-430px, 0, 0);
  }
  .pushy-open-left .pushy,
  .pushy-open-right .pushy {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .pushy-open-left .pushy-content,
  .pushy-open-right .pushy-content {
    width: 100%;
    visibility: visible;
  }
  /* Menu Transitions */

  .pushy,
  .push {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }
  .pushy-content {
    transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }
  /* Site Overlay */
  .site-overlay {
    display: none;
  }
  .pushy-open-left .site-overlay,
  .pushy-open-right .site-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -moz-touch-action: manipulation;
    height: 100%;
  }
  /* Submenu Appearance */
  .pushy-submenu ul {
    transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
  .pushy-submenu ul .pushy-link {
    transition: opacity 0.2s ease-in-out;
  }
  .pushy-submenu button {
    width: 100%;
    color: #b3b3b1;
    padding: 15px 30px;
    text-align: left;
    background: transparent;
    border: 0;
  }
  .pushy-submenu button:hover {
    color: #fff;
  }
  .pushy-submenu > a,
  .pushy-submenu > button {
    position: relative;
  }
  /* Submenu Movement */
  .pushy-submenu-closed ul {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .pushy-submenu-closed .pushy-link {
    opacity: 0;
  }
  .pushy-submenu-open > div > ul {
    padding-top: 16px;
    visibility: visible;
  }
  .pushy-submenu-open .pushy-link {
    opacity: 1;
  }

  .pushy-submenu-open a::after,
  .pushy-submenu-open button::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
  }
}

@media screen and (max-width: 592px){
  .pushy{
    box-sizing: border-box;
    width: 267px;
  }
  .pushy-open-left .push{
    -webkit-transform: translate3d(267px, 0, 0);
    -ms-transform: translate3d(267px, 0, 0);
    transform: translate3d(267px, 0, 0);
  }

  #navitem_features, 
  #navitem_blockchain, 
  #navitem_download, 
  #navitem_partners, 
  #navitem_solutions, 
  #navitem_prices, 
  #navitem_about,
  #navitem_integrations,
  a.singin {
    font-size: 16px;
    padding: 12px 36px 12px 18px;
  }
}
