
# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /blog/index.php [L]
</IfModule>

# END WordPress

Redirect 301 /blog/2021/09/7-best-sharepoint-alternatives-to-consider-in-2021/ /blog/2021/09/best-sharepoint-alternatives/
Redirect 301 /blog/2021/11/top-10-basecamp-alternatives-2021/ /blog/2021/11/basecamp-alternatives/
Redirect 301 /blog/fr/2021/09/7-meilleures-alternatives-a-sharepoint-a-envisager-en-2021/ /blog/fr/2021/09/meilleures-alternatives-a-sharepoint-a-envisager/
Redirect 301 /es/2021/09/7-mejores-alternativas-a-sharepoint-para-tener-en-cuenta-en-2021/ /blog/es/2021/09/mejores-alternativas-a-sharepoint/
Redirect 301 /blog/it/2021/09/7-migliori-alternative-a-sharepoint-nel-2021/ /blog/it/2021/09/migliori-alternative-a-sharepoint/
Redirect 301 /blog/de/2022/12/beste-software-zur-automatisierung-von-dokumenten-2022/ /blog/de/2022/12/beste-software-zur-automatisierung-von-dokumenten/
Redirect 301 /blog/de/2021/09/7-beste-alternativen-zu-sharepoint-2021/ /blog/de/2021/09/beste-alternativen-zu-sharepoint/
Redirect 301 /blog/de/2021/11/die-10-besten-basecamp-alternativen-2021/ /blog/de/2021/11/die-besten-basecamp-alternativen/