parameters:
  level: 1
  featureToggles:
    disableRuntimeReflectionProvider: true
  bootstrapFiles:
    - tests/phpstan/bootstrap.php
    - inc/constants.inc

    - tests/phpstan/stubs/wp-background-processing.stub

    - tests/phpstan/stubs/twig.stub

    - tests/phpstan/stubs/otgs-ui.stub
    - tests/phpstan/stubs/wpml-collect.stub
    - tests/phpstan/stubs/wpml-fp.stub
    - tests/phpstan/stubs/wpml-core-api.stub

    - tests/phpstan/stubs/wpml-core.stub

    - tests/phpstan/stubs/wpml-tm.stub
    - tests/phpstan/stubs/wpml-st.stub

  paths:
    - classes
    - inc
    - templates
    - plugin.php

  checkFunctionNameCase: true
  inferPrivatePropertyTypeFromConstructor: true

  ignoreErrors:
    # Uses func_get_args()
    - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
